/*************************************************************************************************************************** splitter */

* {
    margin:0;
    padding:0;
    border-radius: 0;
}

#start-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffffc0;
    z-index: 9999;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    font: 12px sans-serif;
    background-color: lightgray;
    color: black;
}

#page {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: calc(100% - 120px) 120px;
}

.horizontal-splitter {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: calc(100% - 10px - 500px)  10px 500px;
    grid-template-rows: 100%;
}

.splitter-content {
    position: relative;
}

.horizontal-splitbar {
    background-color: white;
    cursor: ew-resize;
}

.horizontal-splitbar:hover {
    background: #ffffb9;
}

/*************************************************************************************************************************** video */

#video-area {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: calc(66% - 70px) calc(34% - 40px) 110px;
}

#main-videoframe {
    grid-column: 1 / span 2;
    grid-row: 1;
    padding: 2px;
}

#main-video {
    height: 100%;
    width: 100%;
}

#start-videoframe {
    grid-column: 1;
    grid-row: 2;
    padding: 2px;
}

#end-videoframe {
    grid-column: 2;
    grid-row: 2;
    padding: 2px;
}

#start-video {
    height: 100%;
    width: 100%;
    object-position: right;
}

#end-video {
    height: 100%;
    width: 100%;
    object-position: left;
}

/*************************************************************************************************************************** editor */

#editor-area {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20px calc(100% - 20px);
    grid-template-rows: 100%;
}
#editor {
    height: 100%;
    resize: none;
    margin: 0;
    border-width: 0;
    border-radius: 0;
    white-space: nowrap;
}
#editor-mark {
    height: 100%;
    resize: none;
    margin: 0;
    border-width: 0;
    border-radius: 0;
    overflow: hidden;
}
#editor-mark:disabled {
    background-color: white;
    color: black;
}

/*************************************************************************************************************************** buttons */

#action-buttons {
    grid-column: 1 / span 2;
    grid-row: 3;
    display: grid;
    padding: 0 10px 0 10px;
    grid-template-columns: 9% 9% 9% 9% 9% 9% 9% 9% 9% 9% 10%;
}
#action-buttons * {
    margin: 2px;
}
#pieces {
    grid-column: 1 / span 5;
    grid-row: 1;
}
#intro {
    grid-column: 1;
    grid-row: 4;
}
#take {
    grid-column: 2;
    grid-row: 4;
}
#take-good {
    grid-column: 2;
    grid-row: 3;
}
#take-bad {
    grid-column: 2;
    grid-row: 2;
}
#drop {
    grid-column: 3;
    grid-row: 4;
}
#drop-throw {
    grid-column: 3;
    grid-row: 3;
}
#win {
    grid-column: 4;
    grid-row: 4;
}
#win-youlose {
    grid-column: 4;
    grid-row: 3;
}
#lose {
    grid-column: 5;
    grid-row: 4;
}
#lose-youwin {
    grid-column: 5;
    grid-row: 3;
}
#show {
    grid-column: 6;
    grid-row: 4;
}
#show-cards {
    grid-column: 6;
    grid-row: 3;
}
#show-cards-low {
    grid-column: 6;
    grid-row: 2;
}
#show-cards-high {
    grid-column: 6;
    grid-row: 1;
}
#show-drink {
    grid-column: 7;
    grid-row: 4;
}
#show-no {
    grid-column: 7;
    grid-row: 3;
}
#show-cards-no {
    grid-column: 7;
    grid-row: 2;
}
#show-strip {
    grid-column: 7;
    grid-row: 1;
}
#trash {
    grid-column: 8;
    grid-row: 4;
}
#off0 {
    grid-column: 9;
    grid-row: 4;
}
#off1 {
    grid-column: 9;
    grid-row: 3;
}
#off2 {
    grid-column: 9;
    grid-row: 2;
}
#off3 {
    grid-column: 9;
    grid-row: 1;
}
#on1 {
    grid-column: 10;
    grid-row: 4;
}
#on2 {
    grid-column: 10;
    grid-row: 3;
}
#on3 {
    grid-column: 10;
    grid-row: 2;
}
#on4 {
    grid-column: 10;
    grid-row: 1;
}
#bye {
    grid-column: 11;
    grid-row: 1;
}
#bye-cards {
    grid-column: 11;
    grid-row: 2;
}
#broke {
    grid-column: 11;
    grid-row: 4;
}

#bottom-area {
    display: grid;
    align-content: flex-start;
    padding: 10px 10px 0 10px;
}

#video-buttons {
    display: flex;
    grid-column: 1;
    grid-row: 4;
}
#video-buttons * {
    margin: 2px;
    padding: 5px 10px 5px 10px;
}

#editor-buttons {
    display: flex;
    grid-column: 2;
    grid-row: 4;
    justify-self: end;
}
#editor-buttons * {
    margin: 2px;
    padding: 5px 10px 5px 10px;
}

button {
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    border-radius: 5px;
    background-color: #ffffff;
    color: black;
    padding: 2px;
    font: 12px sans-serif;
}

button:hover {
    background-color: #ffffb9;
    color: black;
}

button:active {
    background-color: #ffff00;
    color: black;
}

button:disabled, button:disabled:hover {
    background-color: #c0c0c0;
    color: #404040;
    border-color: #404040;
}

/*************************************************************************************************************************** slider */

#video-info {
    grid-column: 1 / span 2;
    grid-row: 1;
    width: calc(100% - 22px);
    height: 30px;
    margin: 0 11px 0 11px;
}
#start-info {
    grid-column: 1 / span 2;
    grid-row: 1;
    width: calc(100% - 22px);
    height: 30px;
    margin: 0 11px 0 11px;
}
#video-position {
    grid-column: 1 / span 2;
    grid-row: 3;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background: #f0f0f0;
  outline: none;
  margin: 10px 0 16px 0;
}

.slider:hover {
    background: #ffffb9;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 30px;
  border: 0;
  background: url('img/misc/slider.png');
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 30px;
  border: 0;
  background: url('img/misc/slider.png');
  cursor: pointer;
}